#title{
    background-color: #4DFFA6;
    color: #000000;
    border: 10px solid #6D6D6D;
    padding: 15px;
    font-family: 'comic sans ms';
  }

body {
  background-image: url(wonders-2.jpg);
  display:flex;
  justify-content: center;
}

#userInput{
  /* background-color: rgba(0, 0, 0, 0.694);
  border-style:groove;
  border-radius:100% ;
  margin-bottom:20%; */
  height: 55px;
  width: 350px;
  /* justify-self: center;
  background-color: blue;
  color: white; */
  font-size: 200%;
  display:inline-block;
}

#startButton{
  height: 60px;
  width: 100px;
  font-size: 150%;
}

#username{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid;
}
/* #guess{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#guess{
  display:none;
}